a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.main-container {
  min-height: 100vh;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-flow: row wrap;
  border: black 2px solid;
}

.footer {
  display: flex;
  justify-content: center;
  border: rgb(49, 49, 49) solid 2px;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer a {
  margin: 0px 5px;
}

.footer h4 {
  margin: 5px 5px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  box-shadow: none;
}
