a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

img {
  height: 200px;
  width: auto;
}

/* button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
} */

.main-container {
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: #f4f4f2;
  background-image: url("/src/images/background.png");
  background-attachment: fixed;
  /* background-size: cover; */
  background-size: 100vw contain;
  background-repeat: no-repeat;
  /* background-color: #699293; */
  /* background-color: #8c9f9e; */
  /* background-color: #808990; */
  /* background-color: #274755; */
  /* color: #f4f4f2; */
  /* min-height: 100vh; */
}

.nav {
  /* background-color: #699293; */
  padding: 10px 0px;
}

.nav-links {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  margin: 10px 10px;
  background-color: #f4f4f2;
  box-shadow: #808990 10px 10px 5px;
  height: 400px;
  width: auto;
  min-width: 200px;
}

.user {
  color: #808990;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  border: #699293 solid 2px;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer a {
  margin: 0px 5px;
}

.footer h4 {
  margin: 5px 5px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  box-shadow: none;
}
